<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>
      {{ cargandoTexto }}
      <br><br><br><br>
    </h3>
    <button class="btn btnV" (click)="comun.cancelarCarga(suscriptor)">
      {{ comun.RECURSOS.COMUNES.cancelar }}
    </button>
  </div>
</ng-template>
<ngx-loading [show]="comun.loading" [template]="comun.loadingTemplate"></ngx-loading>
<div id="{{ settings.idModal }}" class="modal">
  <!-- Modal -->
  <div class="cuadroM">
    <a aria-label="link-cerrar-emp" class="pointerClose" (click)="closeModal()">
      <img src="./assets/img/cerrar.png" class="cerrar" alt="">
    </a>
    <div class="titModal"><b>{{ settings.title }}</b></div>
    <div class="clear"></div><br>

    <div class="tCenter">
      <form [formGroup]="empleadoFormGroup" (ngSubmit)="actualizaDatosEmpleado()" class="scrollY">
        <div class="titSec">
          {{ comun.RECURSOS.EDITAR_EMP.datosEmpleado }}
          <img *ngIf="fotoEmpleado !== undefined && fotoEmpleado !== null" class="fotoEmpleadoEditar"
            [src]="fotoEmpleado">
        </div>
        <div class="gris">
          <div class="contG">
            <div class="div20">
              <input aria-label="idEmpleado" type="text" formControlName="idEmpleado" required appSoloNumeros="30" readonly
                [ngClass]="{'invalid': (empleadoFormGroup.get('idEmpleado').touched || empleadoFormGroup.get('idEmpleado').dirty) && empleadoFormGroup.get('idEmpleado').errors}">
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagNoEmpleado }}<br>
            </div>

            <div class="div40">
              <input aria-label="nombre" type="text" formControlName="nombre" required appSoloTexto
                [ngClass]="{'invalid': (empleadoFormGroup.get('nombre').touched || empleadoFormGroup.get('nombre').dirty) && empleadoFormGroup.get('nombre').errors }">
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagNombre }}<br>
            </div>

            <div class="div40">
              <input aria-label="puesto" type="text" formControlName="puesto" required appSoloTexto
                [ngClass]="{'invalid': (empleadoFormGroup.get('puesto').touched || empleadoFormGroup.get('puesto').dirty) && empleadoFormGroup.get('puesto').errors }">
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagPuesto }}<br>
            </div>

            <div class="div20">
              <input aria-label="numeroTelefono" type="number" formControlName="numeroTelefono" appSoloNumeros="13"
                mask="999 999 999 999 999 999 99"
                [ngClass]="{'invalid': (empleadoFormGroup.get('numeroTelefono').touched || empleadoFormGroup.get('numeroTelefono').dirty) && empleadoFormGroup.get('numeroTelefono').errors }">
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagTelefono }} <br>
            </div>

            <div class="div20">
              <div class="dropdown">
                <select required formControlName="idEmpresa"
                  [ngClass]="{'invalid': (empleadoFormGroup.get('idEmpresa').touched || empleadoFormGroup.get('idEmpresa').dirty) && empleadoFormGroup.get('idEmpresa').errors}">
                  <option *ngIf="!(empresasPadre.empresas && empresasPadre.empresas.length)">
                    {{ comun.RECURSOS.COMUNES.headerSinRegistros }}</option>
                  <option *ngIf="empresasPadre.empresas && empresasPadre.empresas.length" value="" disabled selected>
                    {{ comun.RECURSOS.EDITAR_EMP.eligeEmpresa }}
                  </option>
                  <option class="cursor" *ngFor="let empresa of empresasPadre.empresas" [value]="empresa.clave">
                    {{ empresa.nombre }}
                  </option>
                </select>
              </div>{{ comun.RECURSOS.EDITAR_EMP.tagUnidadNegocio }}
            </div>

            <div class="div20">
              <input aria-label="ceco" type="text" formControlName="ceco" required appSoloNumeros="20"
                [ngClass]="{'invalid': (empleadoFormGroup.get('ceco').touched || empleadoFormGroup.get('ceco').dirty) && empleadoFormGroup.get('ceco').errors }">
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagCeco }}<br>
            </div>

            <div class="div20">
              <div class="dropdown">
                <select required formControlName="perfil"
                  [ngClass]="{'invalid': (empleadoFormGroup.get('perfil').touched || empleadoFormGroup.get('perfil').dirty) && empleadoFormGroup.get('perfil').errors}">
                  <option value="" disabled selected>{{ comun.RECURSOS.EDITAR_EMP.eligePerfil }}</option>
                  <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{ perfil.nombre }}
                  </option>
                </select>
              </div>{{ comun.RECURSOS.EDITAR_EMP.tagPerfil }}
            </div>

            <div class="div20">
              <input aria-label="idSupervisor" type="text" formControlName="idSupervisor" (keydown)="onKeydown($event)" list="empleados-list"
                autocomplete="off" (focus)="comun.creaAlertaInfo(comun.RECURSOS.EDITAR_EMP.msjInstruccionBuscar)"
                (change)="onSelectEmpleado($event.target.value)"
                [ngClass]="{'invalid': (empleadoFormGroup.get('idSupervisor').touched || empleadoFormGroup.get('idSupervisor').dirty) && empleadoFormGroup.get('idSupervisor').errors}" />
              <datalist id="empleados-list"
                *ngIf="empleadosBuscar.empleados.length !== undefined && empleadosBuscar.empleados.length != 0; else noEncontrado">
                <option class="cursor" *ngFor="let empleado of empleadosBuscar.empleados; trackBy: comun.trackPorEmpleado"
                  [value]="empleado.numeroEmpleado">
                  {{ empleado.nombre }}
                </option>
              </datalist>
              <br>{{ comun.RECURSOS.EDITAR_EMP.tagNoEmpleadoJefe }}<br>
              <ng-template #noEncontrado>
                <label class="txtRojo" *ngIf="mensajeNoEncontrado != ''">{{ mensajeNoEncontrado }}</label>
              </ng-template>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <br>

        <div class="clear"></div>
        <div class="botones">
          <button class="btn btnG btnCancelar" type="reset"
            (click)="closeModal()">{{ comun.RECURSOS.COMUNES.cancelar }}</button>
          <button class="btn btnV btnGuardar" type="submit"
            [ngClass]="{'desac':!empleadoFormGroup.valid || mensajeNoEncontrado !== '' }">{{ comun.RECURSOS.COMUNES.actualizar }}</button>
        </div>
        <div class="clear"></div>
        <br>
      </form>
    </div>
  </div>
</div>