<div class="contSecc">
  <br>
  <br>
  <div class="main">
    <input aria-label="tab1" id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Actualización de información</label>

    <input aria-label="tab2" id="tab2" type="radio" name="tabs">
    <label for="tab2">Reglas de reactivación</label>

    <input aria-label="tab3" id="tab3" type="radio" name="tabs">
    <label for="tab3">Búsqueda de empleados</label>

    <input aria-label="tab4" id="tab4" type="radio" name="tabs">
    <label for="tab4">Envío de notificaciones</label>

    <section id="content1">
      <b>
        <p>¿Por qué no puedo actualizar la información del empleado?</p>
      </b>
      <p>
        &nbsp; &nbsp;1.- Valide que tiene permisos para realizar dicha acción.<br>
        &nbsp; &nbsp;2.- Valide que cuenta con conexión a internet. <br>
        &nbsp; &nbsp;3.- Si pudo ingresar al formulario, llene todos los campos ya que son requeridos. <br>
        &nbsp; &nbsp;4.- Si cuenta con lo anterior y el error persiste por favor contacte a soporte.
      </p>
      <br>
      <b>
        <p>¿Cómo puedo buscar a mi jefe?</p>
      </b>
      <p>
        &nbsp; &nbsp;1.- Ingrese el nombre o número de empleado.<br>
        &nbsp; &nbsp;2.- Presione enter para buscar y espere a los resultados.<br>
        &nbsp; 3.- De acuerdo a los resultados obtenidos, una lista será llenada, despliegue la lista y elija el
        empleado. Al hacer esto automáticamente
        el cuadro de texto se llenará con el número de empleado. <br>
        &nbsp; &nbsp; <b>Nota:</b> Si desea cambiar de empleado seleccionado, borre el contenido del cuadro de texto y
        vuelva a desplegar la lista o realice una nueva búsqueda.
      </p>
      <br>
      <b>
        <p>¿Por qué el botón de actualizar aparece desactivado?</p>
      </b>
      <p>
        Esto se debe a que algún campo requerido del formulario se encuentra vacío, con un valor incorrecto o que algún
        valor no se ha seleccionado, una vez que todo el formulario sea llenado, el botón se activará.
      </p>
      <br>
      <b>
        <p>La empresa a la que pertenezco no se encuentra.</p>
      </b>
      <p>
        Para solucionar este problema por favor contacte a soporte.
      </p>
      <br>
      <b>
        <p>La página no carga los valores a editar</p>
      </b>
      <p>
        En la mayoría de los casos este problema se presentará cuando no exista una buena conexión de internet o cuando se pierda la conexión en la
        tranferencia de datos. Si experimenta este problema intente más tarde o contacte a soporte.
      </p>
      <br>
      <b>
        <p>Mi jefe no aparece en la búsqueda</p>
      </b>
      <p>
        Las búsquedas se hacen de acuerdo a la información recopilada de RH, si experimenta esta situación valide que
        está buscando correctamente o contacte a soporte.
      </p>
      <br>
      <b>
        <p>No me deja guardar, indica que debo elegir un jefe</p>
      </b>
      <p>
        No podrá guardar la información si: <br>
        &nbsp; &nbsp;1.- El campo del número de empleado del jefe está vacio. <br>
        &nbsp; &nbsp;2.- Solo escribió el número del empleado sin buscar. <br>
        &nbsp; &nbsp;3.- El empleado buscado tiene un estatus inactivo. <br>
      </p>
    </section>

    <section id="content2">
      <b>
        <p>¿Por qué no me aparece el botón para reactivar el empleado?</p>
      </b>
      <p>
        &nbsp; &nbsp;1.- El empleado no es usuario de SocioMAS. <br>
        &nbsp; &nbsp;2.- No cuenta con permisos para realizar dicha acción. <br>
      </p>
      <br>
      <b>
        <p>Al intentar reactivar el empleado me arroja un error</p>
      </b>
      <p>
        Valide que cuenta con conexión a internet y reintente, si el error persiste por favor contacte a soporte.
      </p>
      <br>
      <b>
        <p>¿Cómo puedo reactivar/desactivar un empleado?</p>
      </b>
      <p>
        Después de haber usado el filtro de empleados, seleccione: <br>
        &nbsp; &nbsp; <img src="../../../../../assets/img/eliminar-48-red.png" alt="" style="width: 20px"> para desactivar o <br>
        &nbsp; &nbsp; <img src="../../../../../assets/img/reactivar-48-blue.png" alt="" style="width: 20px"> para reactivar. <br>
        &nbsp; &nbsp; Una vez elegida la opción se desplegará una ventana para confirmar la operación. <br>
      </p>
    </section>

    <section id="content3">
      <b>
        <p>¿Cómo busco a un empleado?</p>
      </b>
      <p>
        Un empleado puede ser buscado ya sea por su número de empleado o su nombre, para esto dirígete al apartado de
        <b>Soporte técnico / Administrar empleados</b> del menú lateral y en la caja de texto escribe el empleado a buscar y presiona
        ENTER (el cuadro búsqueda se deshabilitará mientras se completa la carga de información).
      </p>
      <br>
      <b>
        <p>¿Por qué no me aparece el empleado buscado?</p>
      </b>
      <p>
        &nbsp; &nbsp;1 .- El nombre o número de empleado son incorrectos.
        <br>
        &nbsp; &nbsp;2 .- El filtro empieza a funcionar despues de escribir 4 caracteres en la caja de texto.
      </p>
      <br>
      <b>
        <p>¿Por qué el filtrado de empleados demora mucho?</p>
      </b>
      <p>
        Las peticiones se hacen por medio de internet, por lo cual la carga de información dependerá de la velocidad de
        internet que poseas o de la conectividad con el servidor, después de haber transcurrido cierto tiempo aparecerá un texto en el que indica que la
        carga esta demorando mucho, debajo de este texto se mostrará un botón el cual le da al usuario la opción de
        detener la búsqueda.
      </p>
    </section>
    
    <section id="content4">
      <b>
        <p>¿Cómo puedo enviar una notificación?</p>
      </b>
      <p>
        &nbsp; &nbsp; 1.- Ingresa a <b>Soporte técnico / Notificaciones</b> usando el menú lateral. <br>
        &nbsp; &nbsp; 2.- Ingresa el título que deseas poner a la alerta. <br>
        &nbsp; &nbsp; 3.- Escribe el mensaje que deseas enviar. <br>
        &nbsp; &nbsp; 4.- Agrega los destinatarios, puedes: <br>
        &nbsp; &nbsp; &nbsp; &nbsp; a) Buscar el destinatario por su número de empleado o nombre, una vez ingresado el
        valor debes presionar la tecla ENTER, se desplegará una lista con las coincidencias, por lo que deberás elegir 
        alguna opción, una vez elegido, el empleado se agregará a la lista de destinatarios.<br>
        &nbsp; &nbsp; &nbsp; &nbsp;b) Cargar un excel dando clic al botón azul y seleccionar un archivo de excel con el
        listado de empleados. Ve el siguiente <b>formato que se debe seguir</b>, toma en cuenta que no es necesario agregar
        todos los datos mostrados, lo que realmente importa es agregar una columna cuyo cabecero sea <b>numero</b>, 
        ya que en base a esta se agregarán los destinatarios.
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>Nota:</b> De no existir la columna indicada, los datos no podrán
        ser cargados y se mostrará una alerta indicando que el documento tiene un formato inválido.
      </p>
      <img src="../../../../../assets/img/formato-excel-destinatarios.png" alt="">
    </section>
  </div>

</div>