<!-- Container -->
<div id="container">
  <!-- content ============================================= -->
  <!-- Winners section-->
  <section id="winners-section">
    <div class="container">
      <div class="title-section text-left">
        <h1> El primer<br><small>contacto con Socio MAS</small></h1>
        <span></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p>Socio MAS es una aplicación amigable para todos sus usuarios y muy fácil de usar. ¡No te
                preocupes! Te iremos guiando y explicando para qué sirve tu aplicación y sus prinicipales claves
                de funcionamiento.</p>
              <p>Aprenderás a descargarla, crear un perfil y a utilizarla en tu día a día en el trabajo. También te
                enseñaremos cómo ayudarte en caso de ocurra alguna emergencia.</p>
              <h2>¡Empecemos!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-top-md"></div>
    <div class="container">
      <div class="title-section text-left">
        <h1> ¿Qué es Socio MAS<br><small>y cómo funciona?</small></h1>
        <span></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="text-justify">
              <h3>El origen de Socio MAS</h3>
              <p>En Grupo Salinas queremos ser pioneros en el uso de la tecnología para brindarte un acercamiento a
                la vanguardia.</p>
              <p></p>
              <p>Reconocemos el esfuerzo que realizas día con día en tu trabajo y es nuestra mayor inspiración.
                Por eso diseñamos la aplicación móvil Socio MAS que te ofrece servicios administrativos y de
                comunicación para facilitar tus jornadas de trabajo.</p>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center">
            <img src="./assets/img/origen.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <div class="row margin-top-md">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center">
            <img src="./assets/img/idea.png" width="60%" alt="">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="text-justify">
              <h3>¿Cómo me ayuda Socio MAS?<br><small>LAS MUCHAS POSIBILIDADES DE SOCIO MAS</small></h3>
              <p>Socio MAS fue creado como una plataforma de servicios para todos los socios, en especial aquellos
                que se encuentran todos los días en campo y que tienen un acceso límitado a una computadora y/o
                servicios de internet.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-xs-12 margin-top-sm">
          <p>Hoy, Socio MAS te ofrece muchos servicios gracias a la conectividad del celular. Por ejemplo te puede
            ayudar a:</p>
        </div>
      </div>
    </div>
    <div class="margin-top-md"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-xs-12 margin-top-sm">
          <div class="timeline-centered">
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon bg-warning"> <i class="entypo-feather"></i>
                </div>
                <div class="timeline-label">
                  <p>Tener siempre a la mano tu gafete electrónico y acceder rápidamente a tus lugares de trabajo.
                  </p>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon bg-warning"> <i class="entypo-suitcase"></i>
                </div>
                <div class="timeline-label">
                  <p>Realizar consultas express de tus asistencias.</p>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon bg-warning"> <i class="entypo-location"></i>
                </div>
                <div class="timeline-label">
                  <p>Consultar direcciones físicas de las instalaciones del Grupo (sucursales, oficinas,
                    corporativos, etc.)</p>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon bg-warning"> <i class="entypo-camera"></i>
                </div>
                <div class="timeline-label">
                  <p>Publicar o tomar un aventón al trabajo con tus compañeros</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
          <div class="margin-top-xs">
            <img src="./assets/img/gafete-scratch-icon.png" alt="">
          </div>
          <div class="margin-top-xs">
            <img src="./assets/img/asistencias-scratch-icon.png" alt="">
          </div>
          <div class="margin-top-xs">
            <img src="./assets/img/ubicacion-scratch-icon.png" alt="">
          </div>
          <div class="margin-top-xs">
            <img src="./assets/img/aventon-scratch-icon.png" alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="margin-top-xs">
            <p>Cada usuario utiliza Socio MAS de acuerdo a sus necesidades, lugar y horario de trabajo, según su
              área y unidad de negocio a la que pertenece.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="comenzando" class=" margin-top-md">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin-top-md">
          <div class="title-section text-left">
            <h1>Primeros<br>Pasos</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="first-steps margin-top-sm">
    <div class="container">
      <div class="title-section text-left ">
        <h1> Descarga<br><small>tu app</small></h1>
        <span></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
            <img src="./assets/img/download.png" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="text-justify">
              <p>Antes de cualquier paso, deberás tener instalada la aplicación, si aún no la tienes te sugerimos
                descargarla desde Play Store o App Store. Para conocer más a detalle cómo descargarla consulta los
                manuales para Android y iOS.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <img src="./assets/img/download-mockup.png" width="100%" alt="">
        </div>
      </div>
    </div>
    <div class="container margin-top-md">
      <div class="title-section text-left">
        <h1> Configuración<br><small>inicial</small></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center"></div>
        <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">
          <div class="text-justify">
            <h3>Inicia sesión en Socio MAS</h3>
            <p>Para comenzar a utilizar tu aplicación Socio MAS deberás inciar sesión e introducir tu número de
              socio y Llave Maestra o Firma Azteca.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 margin-top-xs">
          <div class="row margin-top-xs">
            <div class="col-lg-2">
              <img src="./assets/img/user-icon.png" alt="">
            </div>
            <div class="col-lg-10">
              <p>Número de socio</p>
            </div>
          </div>
          <div class="row margin-top-xs">
            <div class="col-lg-2">
              <img src="./assets/img/key-icon.png" alt="">
            </div>
            <div class="col-lg-10">
              <p>Llave maestra</p> <em>Es la clave con la que accedes al Portal Socio, se te asignó una cuando
                ingresaste al Grupo.</em>
            </div>
          </div>
          <div class="row margin-top-xs">
            <div class="col-lg-2">
              <img src="./assets/img/token-icon.png" alt="">
            </div>
            <div class="col-lg-10">
              <p>Token</p> <em>El Token es la Firma Azteca de tu aplicación o sitio web de Banco Azteca, puedes acudir
                a cualquier sucursal de Banco Azteca a solicitar la instalación de manera gratuita en tu dispositivo
                móvil.</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container margin-top-md">
      <div class="title-section text-left">
        <h1> Configura<br><small>tu lugar de trabajo</small></h1>
        <span></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="text-justify">
            <h3>Lugar de trabajo fijo</h3>
            <p>Si tienes un lugar de trabajo asignado pero debes visitar ocasionalmente otros sitios (menos de 20) ,
              debes seleccionar :</p>
            <p><em>Lugar fijo y agregar los lugares que frecuentas.</em>
            </p>
          </div>
        </div>
        <div class="row margin-top-xs">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 margin-top-xs">
            <img src="./assets/img/mapa-lugarfijo.png" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container margin-top-md">
      <div class="divider"></div>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 margin-top-md">
          <div class="text-justify">
            <h3>No tengo lugar fijo</h3>
            <p>Si por tu trabajo debes visitar más de 20 lugares durante tu jornada, entonces debes seleccionar esta
              opción.</p>
          </div>
        </div>
        <div class="row margin-top-xs">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
            <img src="./assets/img/mapa-lugarnofijo.png" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container margin-top-md">
      <div class="title-section text-left">
        <h1> Matriz<br><small>de lugar y horario</small></h1>
        <span></span>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center">
          <div class="text-justify">
            <p>Si cuentas con horario variable y lugar no fijo, tu aplicación Socio MAS será tu gran aliado para
              corroborar que tus trayectos y tus horas de trabajo han sido efectuadas de acuerdo a tu puesto y
              funciones.</p>
            <p>Hay diferentes tipos de combinaciones que puedes tener de acuerdo a tu perfil y unidad de negocio a la
              que perteneces, te mostramos algunos ejemplos:</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
      </div>
      <div class="divider margin-top-md"></div>
      <div class="matriz margin-top-md">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 gray-section">
            <h4>HORARIO FIJO+ LUGAR NO FIJO</h4>
            <p>Iván es Regional de Presta Prenda, su horario es de 9:00 a 19:00 hrs pero debe visitar durante su
              jornada todas las sucursales que integran su Región.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 gray-section">
            <h4>HORARIO FIJO+ LUGAR FIJO</h4>
            <p>María es Cajera y su horario es de 9:00 a 19:00 hrs de lunes a viernes en la misma sucursal.</p>
          </div>
        </div>
        <div class="row margin-top-md hidden-xs">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 "></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        </div>
        <div class="row margin-top-md">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 gray-section">
            <h4>HORARIO VARIABLE+LUGAR NO FIJO</h4>
            <p>Lucía es Auditora y tiene que atender diferentes auditorias en sucursales distintas con horarios
              variables.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 gray-section">
            <h4>HORARIO VARIABLE+LUGAR FIJO</h4>
            <p>Juan es camarógrafo en TV Azteca y su horario es variable de acuerdo al llamado del día, pero su lugar
              es fijo porque debe estar en un set de grabación.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="margin-top-md divider"></div>
</div>